.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-button {
  background: transparent;
  border: 1px solid blue;
  color: blue;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
}

.hotel-information {
  display: flex;
}

.add-hotel-container input[type="text"] {
  border: 1px solid blue;
  border-radius: 2px
}